html, body {
  overflow-x: hidden;
}

body {
  display: flex;
  margin: 0;
  background-color: #101419;
  justify-content: center;
  padding: 5px;
}

#root {
  width: 100%;
}

/* HOMEPAGE STYLES */

.login-and-editor-btn {
  display: flex;
  justify-content: flex-end;
  gap: 3rem;
  margin-top: 1rem;
  padding-right: 2rem;
  padding-left: 2rem;
}

button {
  border-radius: 10px;
  padding: 10px 0 10px 0;
  border: none;
  outline: none;
  background-color: #3C474B;
  color: #F1EDEE;
  font-size: 1.2rem;
  min-width: 6rem;
  cursor: pointer;
}

button:disabled {
  opacity: 0.5;
  pointer-events: none;
} 

.search {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5rem;
  margin-top: 3rem;
  margin-bottom: 3rem;
  font-size: 1.1rem;
}

.search input {
  border-radius: 5px;
  background-color: #F1EDEE;
  border: none;
  outline: none;
  padding-left: 0.5rem;
  font-size: 1.2rem;
  height: 1.8rem;
}

i {
  transition: all 0.5s
}

.arrowUp {
  transform: rotate(180deg)
}

.searchBy {
  position: relative;
  display: flex;
  width: 8rem;
  justify-content: space-between;
  cursor: pointer;
  border: none;
  padding: 10px;
  color: #F1EDEE;
  background-color: #3C474B;
  border: none;
  outline: none;
  border-radius: 5px;
}

ul {
  list-style-type: none;
  padding: 0;
  background-color: #3C474B;
  position: absolute;
  text-align: center;
  width: 100%;
  left: 0;
  top: calc(10% + 22px);
  transition: all 0.5s;
  border-radius: 5px;
}

ul li {
  cursor: pointer;
  transition: all 0.5s;
}

ul li:hover {
  background-color: #F1EDEE;
  color: #3C474B;
}

.page-controls {
  display: flex;
  gap: 5rem;
  justify-content: center;
  width: 100vw;
  margin-top: 10vh;
}

.page-controls button {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 8px 0 8px 0;
}

.page-controls button svg {
  height: 2rem;
  width: 2rem;
}

.nothing-2-display {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80%;
  min-width: 250px;
  background-color: #3C474B;
  color: #F1EDEE;
  font-size: 2rem;
  margin: auto;
  border-radius: 5px;
  height: 8rem;
}

/* MODAL STYLES */

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 1000
}

.modal-x {
  position: absolute;
  top: 5%;
  right: 5%;
  cursor: pointer;
  color: #F1EDEE
}

@media screen and (max-width: 570px) {
  .search {
    flex-direction: column;
    align-items: center;
    gap: 2rem;
  }
  .login-and-editor-btn {
    justify-content: space-evenly;
  }
  .nothing-2-display {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 325px) {
  button {
    width: 5rem;
    font-size: 1rem;
  }
  .login-and-editor-btn {
    gap: 1rem;
    flex-wrap: wrap;
    justify-content: center;
  }
  .page-controls {
    gap: 2rem;
  }
}

